<div class="container">
  <h1>Edit project for <%= @country.c_name %></h1>

  <% render "layouts/errors", :object => @project %>

  <%= bootstrap_form_for [@country, @project] do |f| %>
    <%= f.text_field :p_name, label: "Project name" %>
    <br>
    <br>
    <%= f.text_area :p_description, label: "Describe this project" %>
    <br>
    <%= f.number_field :total_needed, label: "Total Amount Needed" %>
    <br>
    <%= f.file_field :project_image %>
    <br>
    <%= f.submit "Edit project", class: "btn btn-success" %>
  <% end %>
  <br>
  <%= link_to "Return to country page", country_path(@country) %>
</div>
