<div class="col-sm-5">
  <% if current_user && current_user.admin %>
    <div class="well admin-well country-well">
      <%= link_to "Edit Country", edit_country_path %> |
      <%= link_to "Add project", new_country_project_path(@country) %> |
      <%= link_to "Delete", country_path(@country),
              :data => {:confirm => "Are you sure you want to delete this project?",
              :method => "delete"} %> 
    </div>
  <% end %>
  <h1><%= @country.c_name %></h1>

  <p><%= @country.c_description %></p>

  <% if @country.image %>
    <%= image_tag (@country.image), class:"country-image" %>
  <% elsif @country.country_image_file_name  %>
    <%= image_tag @country.attached_image_file_name(:medium) %>
  <% else %>
    <%= image_tag ('missing.png'), class:"country-image" %>
  <% end %>

  <% if @country.projects.any? %>
    <% @country.projects.each do |project| %>
      <h3><%= link_to project.p_name, country_project_path(@country, project), remote: true %></h3>
      <p><%= project.p_description %></p>
    <% end %>
  <% end %>
</div>
<div class="col-sm-2">
  <div id="show_project_sidebar">
  </div>
</div>
