<div class="row">
  <div id="show_countries_sidebar">
  </div>
  <div id="show_countries">
  </div>
  <div id="show_projects">
  </div>
</div>
<div class="col-sm-12">
<div id="all_countries" class="col-sm-3">
    <h1>All countries</h1>
    <% if @countries.any? %>
      <% @countries.each do |country| %>
        <h3><%= link_to country.c_name, country_path(country), remote: true %></h3>
        <% if country.image %>
          <%= image_tag (country.image), class:"country-image" %>
        <% else  %>
          <%= image_tag country.attached_image.url(:medium) %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user && current_user.admin %>
      <p><%= link_to "Add country", new_country_path %></p>
    <% end %>
  </div>

<div class="col-xs-9">
  <div class="map-wrapper">
    <div class="row">
      <div class="empty-grid col-xs-2 north-america" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 north-america" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 north-america" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 north-america" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 europe" data-toggle="modal" data-target="#myModal">">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 north-america" data-toggle="modal" data-target="#myModal">
        <p>
          northern-south america
        </p>
      </div>

      <div class="empty-grid col-xs-2 south-america" id="popover" data-trigger="hover" onClick ="$('#myModalSouthAmerica').modal('toggle')" data-container="body" data-toggle="popover" data-placement="top" data-content="View Pojects in South America">
        <p>
          northern-south america
        </p>
      </div>

      <div class="empty-grid col-xs-2 africa" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 asia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>
      <div class="empty-grid col-xs-2">
        <p>
          hi
        </p>
      </div>
      <div class="empty-grid col-xs-2 south-america" data-toggle="modal" data-target="#myModal">
        <p>
          ECUADOR
        </p>
      </div>

      <div class="empty-grid col-xs-2 africa" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 australia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>

      <div class="empty-grid col-xs-2 australia" data-toggle="modal" data-target="#myModal">
        <p>
          hi
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="myModalSouthAmerica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @AsiaCountries.each do |country| %>
          <%= link_to country.c_name, country_path(country), remote: true %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#popover').popover();


</script>
