<h1><%= @country.c_name %></h1>

<%= image_tag @country.attached_image.url(:medium) %>


<p><%= @country.c_description %></p>
<% if @country.projects.any? %>
  <% @country.projects.each do |project| %>
    <%= link_to project.p_name, country_project_path(@country, project) %>
  <% end %>
<% end %>
<br><%= link_to "Edit", edit_country_path(@country) %>
